    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: OpenSans-H, "open sans", sans-serif;
}


/* header1 */
#header1{
    display: flex;
    border-bottom: 0.5px solid #E5E5E5;
    background-color: #ffffff;
    position: sticky;
    top: 0;

}


/* part1 */
#part1 a{
    font-family: sans-serif;
    
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    
}
#part1 img{
    color: black;
    height: 45px;
}
#part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 45px;
    /* border: 1px solid red; */
}


/* part2 */
#part2{
    width: 255px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#part2 div{
   
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* padding-right: 10px; */
    border-left: 0.5px solid #E5E5E5;
   
    /* align-content: center; */
}
#icon4{
    margin-right: 6px;
}


.searchbox{
    border: 2px solid #dedede;
    background: #ececec;
    height: 30px;
    width: 225px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}
#search{
    width: 185px;
    border: 0;
    background: #ececec;
    outline: none;
}

.cart-circular{
    position: absolute;
    color: #fff;
    height: 18px;
    width: 18px;
    /* line-height: 16px; */
    border-radius: 50%;
    font-family: opensans-eb,open sans,"sans-serif";
    padding: 2px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: small;
    margin-left: -15px;
    margin-top: -10px;
}

/* header2 */
#header2{
    height: 55px;
    border-bottom: 0.5px solid #E5E5E5;
    background-color: #ffffff;
}
#header2 img{
    height: 50px;
}

/* background image  */
.bg{
    /* background-image: url(../Assets/oversized-t-shirts-homepage-slider-480-480x375.jpg); */
    /* width: 100%; */
    height: 365px;
    width: 100vw;
    background-repeat: no-repeat;
    
}


/* featured themes  */
.subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px 5px 0px;
    
}
#p-featuredthemes{
    display: flex;
    justify-content: center;
}
#Theme-container{
    width: 800px;
    display: flex;
    justify-content: center;

}

#Theme-container div img{
    height: 165px;
}

.theme{
    text-align: center;
}



/* featured categories  */
#p-featuredcategories{
    display: flex;
    justify-content: center;
}

.notes{
    text-align: center;
    font-style: italic;
    color: #646464;

}
#categories-container img{
    height: 650px;
    width: 330px;
}