*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: OpenSans-H, "open sans", sans-serif;
    overflow-x: hidden;
}

#brands-container{
    display: flex;
    justify-content: space-evenly;
}
#lower-homepage{
    margin: 0 91px;
}

.subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0;
}
.product-name{
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #c6c6c6;
    font-weight: 600;
}

.by{
    font-size: 12px;
    color: #646464;
    line-height: 20px;
}

.by-{
    color: #ec1a30;
    line-height: 20px;
}

.price{
    font-size: 14px;
    display: flex;
    align-items: baseline;
    line-height: 20px;
    font-weight: 600;
}

.offer{
    color: red;
    padding-left: 33%;
    font-weight: 600;
    line-height: 20px;
}

.old-price{
    font-size: 12px;
    color: #646464;
    margin-left: 3%;
    background: linear-gradient(to right top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
    line-height: 20px;
}

#product-div{
    height: 429px;
    width: 267px;
}

#product-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);

    /* justify-content: center; */
    width: 1335px;
    height: 1708px;
}

.press-container{
    display: flex;
    justify-content: space-between;
}
.info{
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c;
    letter-spacing: 0.3px;
}

.info-div{
    background-color: #F5F5F5;
    height: 355px;
    width: 1307px;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#info-a{
    text-decoration: none;
    color: #ec1a30;
}

button[data-controls="prev"]{
    display: none;
}
button[data-controls="next"]{
    display: none;
}
button[data-action="stop"]{
    display: none;
}

/*footer*/
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
footer{
    width: 100vw;
    height: 72vh;
    background-color: #191919;
    font-family: 'Open Sans', sans-serif;
}
.upper{
    margin-top: 50px;
    align-items: center;
}
.lower p{
    color: white;
}
.lower{
    width: 100vw;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #303030;
}
.searchbar-footer{
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    color: grey;
    width: 1009px;
    height: 50px;
}
.searchbar-footer input{
    padding-left: 10px;
}
.searchbar-footer h8{
    font-size: 14px;
    margin: 0 20px 0 20px;
}
.foot-body h3{
    font-size: 13px;
    margin: 0 100px 15px 0;
    color: white;
    font-weight: bolder;
}
.foot-body{
    margin-top: 8px;
    margin-right: 200px;
}
.foot-body p{
    color: grey;
    margin-bottom: 2px;
}
.foot-body p:hover{
    cursor: pointer;
}
.mid-line{
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-top: 30px;
}
.foot-{
    justify-content: center;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.foot- img{
    height: 35px;
    margin-right: 20px;
}
.foot- div{
    margin-right: 60px;
}
footer input{
    border-radius: 5px;
    width: 293px;
    height: 32px;
}
footer button{
    color: white;
    font-weight: 900;
    background-color: red;
    border-radius: 5px;
    height: 36px;
    width: 177px;
}

#submit-btn{
border: none;
}

#mail-box{
border: none;
}

/* .product-div img {
    /* Apply this style to all product images */
    /* transition: opacity 0.3s; Smooth transition */
/* } */

/* .product-div:hover img { */
    /* CSS properties for the hover effect */
    /* opacity: 0.7; You can adjust this as per your preference */
/* } */ 